.header {
    background-color: #000;
    color: #fff;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

/*ナビゲーションバー*/
.header-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header__title-img {
    width: 200px;
}

.header-nav__user-item a,
.header-nav__user-item a:visited {
    color: #fff;
    font-size: small;
    align-items: center;
    vertical-align: top;
}
.search-form__input {
    padding-left: 15px;
    height: 25px;
    width: 250px;
}
.search-form__button--hidden {
    display: none;
}

.header-nav__form {
    margin: 0;
    padding: 0;
}
.header-nav__button {
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    color: #000;
    border: #000 1px solid;
    padding: 0 10px;
    margin: 0 10px;
    font-size: 0.8em
}
.header-nav__button-submit {
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    vertical-align: top;
    padding: 0 15px;
}

@media screen and (min-width: 851px) {
    .header-nav__ttl {
        margin: 5px 5px;
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    .header-nav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        width: 60%;
        padding: 0 10px;
        margin: 0;
    }

    .header-nav__list--user {
        display: flex;
    }
}

/*タブレットサイズ*/
@media screen and (min-width: 768px) and (max-width: 851px) {
    .header {
        height: auto;
    }
    .header-nav__ttl {
        padding-right: 90px;
        padding-left: 20px;
        margin: 5px;
        align-content: center;
    }
    .header-nav {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: auto;
    }

    .header-nav_list {
        height: auto;
    }
    .header-nav__list-item {
        display: block;
    }
    .header-nav__list--user {
        display: flex;
        height: auto;
        margin-top: 8px;
    }
    .header-nav__user-item {
        margin-right: 10px;
    }
}

/*タブレット以下*/
@media screen and (max-width: 768px) {
    .header {
        height: auto;
    }
    .header-nav__ttl {
        display: block;
        padding-right: 70px;
        padding-left: 50px;
        margin: 5px;
        text-align: center;
    }
    .header-nav {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .header-nav__list {
        display: block;
        align-items: center;
        height: auto;
        width: 100%;
        padding: 0 10px;
        margin: 0;
        text-align: center;
    }
    .header-nav__list-item {
        display: block;
        margin: 8px;
    }
    .header-nav__list--user {
        justify-content: center;
    }
    .header-nav__list--user {
        display: flex;
        justify-content: center;
    }
}