.main-nav {
    border-bottom: solid 1px #000;
}
.main-nav__list {
    display: flex;
}
.main-nav__list-item {
    color: #999;
}
.main-nav__list-item a,
.main-nav__list-item a:visited {
    color: #FF3030;
}

.item-card__container{
    width: 55%;
    background-color: #ddd; /*配置用に着色、後で消す*/
    margin: 0 auto;
    padding: 10px;
}
.item-card__content {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 10px 20px;
    justify-content: space-between;
}
/*<li>↓*/
.item-card__content--list {
    padding: 10px;
    margin: 5px;
    background-color: #82BEB3; /*配置用の仮着色*/
    width: 200px;
}