.main-tab__list {
    margin-top: 40px;
    padding-left: 50px;
    padding-bottom: 5px;
    border-bottom: solid 1px #000;
}
.main-tab__button{
    border: none;
    color: #5c5c5c;
    background-color: #fff;
    font-size: 1em;
    padding-right: 20px;
    cursor: pointer;
}
.main-tab__button.active {
    color: #F55;
    font-weight: bold;
}

.item-card__container{
    width: 90%;
}
.item-card__content {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}
/*<li>*/
.item-card__content--list {
    margin: 20px;
    width: 20%;
    height: 100%;
    min-width: 150px;
    max-width: 300px;
    object-fit: cover;
}
.item-card__content-inner {
    object-fit: cover;
    height: 100%;
}
.item-card__content--img {
    height: 100%;
    width: 100%;
    min-width: 150px;
    max-width: 300px;
    object-fit: cover;
}
.item-card__content--list p {
    margin: 0;
}
.item-card__content-inner{
    position: relative;
    overflow-x: hidden;
}
.item-card__content-inner a,
.item-card__content-inner a:visited {
    color: #000;
}
.item-card__content--sold-img {
    height: auto;
    width: 100%;
    min-width: 150px;
    max-width: 300px;
    filter: brightness(0.5);
    object-fit: cover;
}
.item-sold {
    background-color: #F55;
    color: #fff;
    position: absolute;
    top: -30px;
    left: -60px;
    padding: 60px 40px 0 50px;
    transform: rotate(-45deg);
    text-align: center;
}

.tab-panel__message {
    text-align: center;
    padding: 20px;
    color: #000;
}
/*タブレットサイズ*/
@media screen and (min-width: 768px) and (max-width: 851px) {
    .item-card__content--list {
        width: 50%;
    }
}
/*タブレット以下*/
@media screen and (max-width: 768px) {
    .item-card__content--list {
        width: 85%;
    }
}
