.mypage-header {
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 60%;
    justify-content: space-between;
}
.mypage-header__heading {
    display: flex;
    width: 60%;
}
.mypage-header__heading-icon{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ddd;
    margin: auto 0;
    overflow: hidden;
    position: relative;
    min-width: 50px;
    min-height: 50px;
}
.mypage-header__heading-icon img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.mypage-header__heading-name {
    font-weight: bold;
    margin: auto 0;
    margin-left: 20px;
}
.mypage-header__button {
    display: flex;
}
.mypage-header__button-submit {
    border: #FF3030 1px solid;
    border-radius: 3px;
    padding: 5px 20px;
    font-weight: bold;
    align-self: flex-end;
    margin: auto 0;
}
.mypage-header__button a,
.mypage-header__button a:visited {
    color: #ff3030;
}

.mypage-nav {
    border-bottom: solid 1px #000;
}

.mypage-tab__list {
    margin-top: 40px;
    padding-left: 50px;
    padding-bottom: 5px;
    border-bottom: solid 1px #000;
}
.mypage-tab__button {
    border: none;
    color: #5c5c5c;
    background-color: #fff;
    font-size: 1em;
    padding-right: 20px;
    cursor: pointer;
}
.mypage-tab__button.active {
    color: #F55;
    font-weight: bold;
}

.item-card__container {
    width: 90%;
    background-color: #ddd;
    /*配置用に着色、後で消す*/
    margin: 0 auto;
}

.item-card__content {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

/*<li>↓*/
.item-card__content--list {
    margin: 10px;
    background-color: #c683a9;
    /*配置用の仮着色*/
    width: 20%;
    max-width: 290px;
    height: 20%;
    min-width: 150px;
}

.item-card__content--img {
    width: 100%;
}

.item-card__content--list p {
    margin: 0;
}

.item-card__content-inner {
    position: relative;
    overflow-x: hidden;
}
.item-card__content-inner a,
.item-card__content-inner a:visited {
    color: #000;
}
.item-card__content--sold-img {
    height: auto;
    width: 100%;
    min-width: 150px;
    max-width: 300px;
    filter: brightness(0.5);
}
.item-sold {
    background-color: #F55;
    color: #fff;
    position: absolute;
    top: -30px;
    left: -60px;
    padding: 60px 40px 0 50px;
    transform: rotate(-45deg);
    text-align: center;
}