.mypage-header {
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 60%;
    justify-content: space-between;
}
.mypage-header__heading {
    display: flex;
    width: 60%;
}
.mypage-header__heading-icon{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ddd;
    margin: auto 0;
    overflow: hidden;
    position: relative;
    min-width: 70px;
    min-height: 70px;
    object-fit: cover;
}
.mypage-header__heading-icon img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.mypage__icon-name{
    width: 100%;
    height: 100%;
    font-size: 50px;
    text-align: center;
    align-content: center;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 0 #999, -1px 1px 0 #999, 1px -1px 0 #999, -1px -1px 0 #999;
}
.mypage-header__heading-name {
    font-weight: bold;
    margin: auto 0;
    margin-left: 20px;
}
.mypage-header__button {
    display: flex;
}
.mypage-header__button-submit {
    border: #FF3030 1px solid;
    border-radius: 3px;
    padding: 5px 20px;
    font-weight: bold;
    align-self: flex-end;
    margin: auto 0;
}
.mypage-header__button a,
.mypage-header__button a:visited {
    color: #ff3030;
}

.mypage-nav {
    border-bottom: solid 1px #000;
}

.mypage-tab__list {
    margin-top: 40px;
    padding-left: 50px;
    padding-bottom: 5px;
    border-bottom: solid 1px #000;
}
.mypage-tab__button {
    border: none;
    color: #5c5c5c;
    background-color: #fff;
    font-size: 1em;
    padding-right: 20px;
    cursor: pointer;
}
.mypage-tab__button.active {
    color: #F55;
    font-weight: bold;
}

.item-card__container {
    width: 90%;
    margin: 0 auto;
}

.item-card__content {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

/*<li>↓*/
.item-card__content--list {
    margin: 10px;
    width: 20%;
    max-width: 290px;
    height: 20%;
    min-width: 150px;
}

.item-card__content--img {
    width: 100%;
}

.item-card__content--list p {
    margin: 0;
}

.item-card__content-inner {
    position: relative;
    overflow-x: hidden;
}
.item-card__content-inner a,
.item-card__content-inner a:visited {
    color: #000;
}
.item-card__content--sold-img {
    height: auto;
    width: 100%;
    min-width: 150px;
    max-width: 300px;
    filter: brightness(0.5);
}
.item-sold {
    background-color: #F55;
    color: #fff;
    position: absolute;
    top: -30px;
    left: -60px;
    padding: 60px 40px 0 50px;
    transform: rotate(-45deg);
    text-align: center;
}

.item-purchasedItem {
    background-color: #4985DB;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 0px;
    padding: 5px 10px;
    border-top: #4985DB 3px solid;
    border-bottom: #4985DB 3px solid;
    border-radius: 2px;
}
.item-purchasedItem span {

    padding: 3px;
    border-top: dashed 1px #fff;
    border-bottom: dashed 1px #fff;
}
.item-purchasedItem span:after {
    position: absolute;
    content: '';
    z-index: 1;
    top: 1;
    right: -15px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 19px 15px 19px 0px;
    border-color: #3E68A4 transparent #3E68A4 #3E68A4;
}

/* タブ用の件数通知 */
.notify--count {
    display: inline-block;
    margin-left: 3px;
    background-color: #F55;
    color: #fff;
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    vertical-align: middle;
}

/* 各商品用通知バッジ */
.notify-badge {
    display: inline-block;
    font-size: 0.9em;
    color: #fff;
    background-color: #F55;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    vertical-align: middle;
}

/*タブレットサイズ*/
@media screen and (min-width: 768px) and (max-width: 851px) {
    .item-card__content--list {
        width: 50%;
    }
    .mypage-header {
        display: block;
    }
    .mypage-header__heading {
        width: 100%;
    }
    .mypage-header__button {
        margin-top: 10px;
        justify-content: center;
    }
}

/*タブレット以下*/
@media screen and (max-width: 768px) {
    .item-card__content--list {
        width: 85%;
    }
    .mypage-header {
        display: block;
    }
    .mypage-header__heading {
        width: 100%;
    }
    .mypage-header__button {
        margin-top: 10px;
        justify-content: center;
    }
}