.mypage-nav {
    border-bottom: solid 1px #000;
}

.mypage-nav__list {
    display: flex;
}

.mypage-nav__list-item {
    color: #999;
}

.mypage-nav__list-item a {
    color: #FF3030;
}

.mypage-content {

}

.item-card__container {
    width: 90%;
    background-color: #ddd;
    /*配置用に着色、後で消す*/
    margin: 0 auto;
}

.item-card__content {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

/*<li>↓*/
.item-card__content--list {
    margin: 10px;
    background-color: #c683a9;
    /*配置用の仮着色*/
    width: 20%;
    max-width: 290px;
    height: 150px;
    min-width: 150px;
}

.item-card__content--list img {
    height: auto;
    box-sizing: border-box
}

.item-card__content--list p {
    margin: 0;
}