.sell-content {
    width: 50%;
    margin: 0 auto 50px;
}

.sell-form__img-area {
    border: #888 1px solid;
    border-style: dashed;
    border-radius: 3px;
    height: 70px;
    text-align: center;
    align-content: center;
}
/*画像選択ボタン*/
.sell-form__img-button {
    display: none;
}
.sell-form__img-button--label {
    background-color: #fff;
    border: #FF5655 solid 2px;
    border-radius: 5px;
    color: #FF5655;
    padding: 3px 6px;
    display: inline-block;
    cursor: pointer;
}

.sell-form__item h3 {
    color: #888;
    border-bottom: 1px solid #888;
    margin-top: 25px;
}

.sell-form__label-wrapper {
    margin: 3px;
    display: inline-block;
}
.sell-form__category-checkbox {
    display: none;
}
.sell-form__category-label span {
    border: #FF5655 1px solid;
    color: #FF5655;
    border-radius: 20px;
    padding: 0 10px;
    white-space: nowrap;
    overflow: auto;
}
.sell-form__category-checkbox:checked + span {
    color: #fff;
    background-color: #FF5655;
    border: #FF5655 1px solid;
}
.sell-form__category-area {
    margin-bottom: 15px;
}

.sell-form__item-label {
    display: block;
    font-weight: bold;
}
.sell-form__item-input {
    width: 100%;
    height: 30px;
    border: #888 1px solid;
    border-radius: 3px;
    margin-bottom: 10px;
}
.sell-form__item-input:hover {
    outline: solid 1px #000;
}
.sell-form__item-input[type="number"]::-webkit-outer-spin-button,
.sell-form__item-input[type="number"]::-webkit-inner-spin-button {
    appearance: none;

}
.sell-form__item-select {
    width: 100%;
    height: 30px;
    cursor: pointer;
    border: #888 1px solid;
    border-radius: 3px;
    padding-left: 10px;
}
.sell-form__item-select option {
    background-color: #6b6b6b;
    color: #fff;
}
.sell-form__select-wrapper {
    position: relative;
}
.sell-form__select-wrapper::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #888 transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}
.sell-form__select-wrapper select {
    appearance: none;
    cursor: pointer;
}


.sell-form__item-textarea {
    width: 100%;
    height: 60px;
    border: #888 1px solid;
    border-radius: 3px;
}
.sell-form__item-input::-webkit-input-placeholder {
    color: #000;
    font-weight: bold;
}

.sell-form__button-submit {
    width: 100%;
    height: 30px;
    margin-top: 50px;
    background-color: #f55;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
/*タブレットサイズ*/
@media screen and (min-width: 768px) and (max-width: 851px) {

    .sell-content {
        width: 60%;
        max-width: 60%;
        margin: auto;
    }
}
/*タブレット以下*/
@media screen and (max-width: 768px) {

    .sell-content {
        width: 60%;
        max-width: 60%;
        margin: auto;
    }
}