.register__content,
.login__content {
    max-width: 60%;
    margin: 0 auto;
}

.section__title{
    text-align: center;
}

.register-form,
.login-form {
    width: 100%;
}
.register-form__label,
.login-form__label {
    display: block;
    width: 100%;
}
.register-form__item-input,
.login-form__item-input {
    display: block;
    width: 100%;
    height: 30px;
}

.register-form__button,
.login-form__button {
    margin-top: 50px;
    margin-bottom: 20px;
}
.register-form__button-submit,
.login-form__button-submit {
    width: 100%;
    height: 30px;
}

.guide-link {
    text-align: center;
}