.register__content,
.login__content,
.profile__content,
.address__content,
.verify__content {
    width: 50%;
    max-width: 50%;
    margin: auto;
}
.verify__content {
    height: 100vh;
}
.verify__content-inner {
    margin-top: 90px;
}

.section__title{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.register-form,
.login-form,
.profile-form,
.address-form {
    width: 100%;
}
.register-form__label,
.login-form__label,
.profile-form__item-label,
.address-form__item-label {
    display: block;
    width: 100%;
}
.register-form__item-input,
.login-form__item-input,
.profile-form__item-input,
.address-form__item-input {
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
}

.register-form__button,
.login-form__button,
.profile-form__button,
.address-form__button {
    margin-top: 60px;
    margin-bottom: 50px;
}
.register-form__button-submit,
.login-form__button-submit,
.profile-form__button-submit,
.address-form__button-submit {
    width: 100%;
    height: 30px;
    background-color: #f55;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.verify__content--info p {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px;
}

.guide-link {
    text-align: center;
    margin-bottom: 50px;
}
.guide-link a,
.guide-link a:visited,
.verify-form__button-submit {
    color: #299bf3;
    font-size: 0.9em;
}

.verify-link__button {
    text-align: center;
    margin: 30px 0;
}
.verify-link__button-submit {
    padding: 5px 12px;
    border-radius: 5px;
    border: #000 solid 1px;
    background-color: #d9d9d9;
    color: #000;
}
.verify-link__button-submit:visited {
    color: #000;
}

.verify-form__button {
    margin: 0 auto;
    text-align: center;
}
.verify-form__button-submit {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.profile-form__img-area {
    margin-bottom: 20px;
    display: flex;
}
.profile-form__img {
    margin-right: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ddd;
    overflow: hidden;
    position: relative;
    min-width: 70px;
    min-height: 70px;
}
.profile-form__img img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.profile__icon-name{
    width: 100%;
    height: 100%;
    font-size: 50px;
    text-align: center;
    align-content: center;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 0 #999, -1px 1px 0 #999, 1px -1px 0 #999, -1px -1px 0 #999;
}
/*
.profile-form__img--circle {
    background-image: url();
}
    */

.form__error {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #D30909;
}

/*画像選択ボタン*/
.profile-form__img-wrapper {
    align-content: center;
}
.profile-form__img-button {
    display: none;
}
.profile-form__img-button--label {
    background-color: #fff;
    border: #FF5655 solid 2px;
    border-radius: 5px;
    color: #FF5655;
    padding: 3px 6px;
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
}
/*タブレットサイズ*/
@media screen and (min-width: 768px) and (max-width: 851px) {
    .register__content,
    .login__content,
    .profile__content,
    .address__content,
    .verify__content {
        width: 60%;
        max-width: 60%;
        margin: auto;
    }
}
/*タブレット以下*/
@media screen and (max-width: 768px) {
    .register__content,
    .login__content,
    .profile__content,
    .address__content,
    .verify__content {
        width: 60%;
        max-width: 60%;
        margin: auto;
    }
}